/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  // font: normal 125% / 1.4 $text-font-stack;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 125%;
  line-height: 1.4;
  font-family: $text-font-stack;
}
